<table>
	<thead>
		<tr>
			<th>
				email
			</th>
			<th>
				username
			</th>
			<th>
				roles
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users$ | async">
			<td>
				{{user.email}}
			</td>
			<td>
				{{user.username}}
			</td>
			<td>
				<div *ngFor="let role of user.roles">{{role}}</div>
			</td>
			<td>
				<button (click)="onEdit(user)">Edit</button>
				<button (click)="onDelete(user)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<gym-edit-user *ngIf="editedUser$ | async" [userData]="editedUser$ | async">
</gym-edit-user>
