<gym-grid [data]="users$ | async">
	<template gymColumnTemplate let-user="context" title="Email">
		{{user.email}}
	</template>
	<template gymColumnTemplate let-user="context" title="Username">
		{{user.username}}
	</template>
	<template gymColumnTemplate let-user="context" title="Roles">
		<div *ngFor="let role of user.roles">{{role}}</div>
	</template>
	<template gymColumnTemplate let-user="context" title="Actions">
		<button (click)="onEdit(user)">Edit</button>
		<button (click)="onDelete(user)">Delete</button>
	</template>
</gym-grid>

<gym-edit-user *ngIf="editedUser$ | async" [userData]="editedUser$ | async">
</gym-edit-user>
